div.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
   
    
    & * {
        margin: 0;
    }
    

    div.click-count-container {
        display: none;
        padding: 2em;
        text-align: center;
        
        & #counter {
            color: white;
            font-size: 300%;

        }
    }

    div.title {
        height: 100%;
        text-align: center;
        
        p {
            color: white;
            padding: 1em;
            font-size: 240%;
            align-self: start;
            font-weight: 900;
            transition: opacity 0.6s;
        }
    }

    div.play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        & img {
            width: 100%;
        }

        
    }

    div.play-instructions-container {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        & p {
            color: white;
            padding: 1em;
            font-size: 150%;
            transition: opacity 0.6s;
        }

        & div {
            
            & a {
                text-decoration: none;
                font-size: 100%;
            }
        }
    }
    
}

@media screen and (min-width: 481px) {
    div.actions {

        
        & div.play {

            & img {
                width: 380px;
            }
        }
    }
}

@media screen and (min-width: 781px) {
    div.actions {

        
        & div.play {

            & img {
                max-width: 500px;
            }
        }
    }
}
