div.actions {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-around;
   
    
    & * {
        margin: 0;
    }
    

    div.title {
        
        
        width: 100%;
        height: 100%;
        text-align: center;
        
        p {
            padding: 1em;
            border: 1px solid;
            font-size: 200%;
            align-self: start;
            font-weight: 900;
        }
    }

    div.play {
        border: 1px solid;
        width: 100%;  
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        
        & img {
            width: 265px;
        }

        
    }

    div.play-instructions-container {
        

        & p {
            padding: 1em;
            font-size: 150%;
        }
    }
    
}
