div.options {
  position: absolute;
  left: 95%;
  top: 5%;
  transform: translate(-50%, -50%);
}

div.options img {
  width: 50px;
  transition: transform 0.3s;
}

div.options div.optionsMenu {
  position: absolute;
  background-color: white;
  display: none;
  opacity: 0;
  transition: all 0.3s;
}

@media screen and (max-width: 481px) {
  div.options img {
    display: none;
  }
}
