@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import "layout/starting-screen.scss";
@import "sections/actions.scss";

body {
    margin: 0;
    background-color: rgb(199, 224, 247);
    font-size: 100%;
    
    & * {
        font-family: 'DynaPuff', cursive;
    }
}