@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import "layout/starting-screen.scss";
@import "sections/actions.scss";

html {
    overflow: hidden;
}
body {
    margin: 0;
    background-color:black;
    
    font-size: 100%;
    overflow: hidden;
    & * {
        font-family: 'DynaPuff', cursive;
    }
}